/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Grid container settings */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 1fr auto;
  min-height: 100vh;
  gap: 10px;
  box-sizing: border-box;
}

/* Content box styles */
.content-box {
  background-color: #f1f3f4;
  border: 1px solid #999;
  border-radius: 16px;

  padding: 20px;
}

/* Style each section of the grid */
.header {
  grid-area: header;
  background-color: #1a73e8;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* Main content styles */
.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #ffffff;
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  background-color: #f1f3f4;
  padding: 20px;
  position: fixed;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  top: 0;
  transition: all 0.3s ease;
  transform: translateX(-100%);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.show {
  transform: translateX(0);
}

/* Footer style */

footer {
  grid-area: footer;
  background-color: #1a73e8;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Button styles */
button {
  appearance: button;
  background-color: #f1f3f4;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}

button:after {
  background-clip: padding-box;
  background-color: #f4a90a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

button:active {
  border-width: 4px 0 0;
  background: none;
}

/* Responsive layout - columns wrap */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
